# The name of the app, displayed in the top bar
APP_NAME="Loyalty Platform"

# Headlin shown in top bar of homepage (optional)
APP_HEADLINE=""

# Enter the url (with http or https) where the platform is installed
APP_URL=https://example.com

# Can be true of false. If false the homepage will redirect to the 
# login page. This is useful if you want a custom homepage and link to
# the script on a subdomain like app.example.com.
HOMEPAGE=true

# The app environment usually is local or production
APP_ENV=production

# A new Laravel application key can be generated after saving this file 
# as ".env" with the command `php artisan key:generate`.
# *NOTE* if you use ServerPilot, instead of `php`, use `php7.3-sp` (if you use PHP 7.3): 
# `php7.3-sp artisan key:generate`.
# https://serverpilot.io/docs/how-to-use-the-php-cli
APP_KEY=

# If debug is false, error messages won't be displayed in the browser. 
# You will be able to find errors in the log files (/storage/logs/).
APP_DEBUG=false

# Default timezone, can be changed later in admin dashboard.
APP_TIMEZONE="America/New_York"

# Database settings
# MySQL >= 5.7.8 and MariaDB >= 10.2.7 are supported
# For both databases keep the setting DB_CONNECTION=mysql
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=root
DB_PASSWORD=

# E-mail settings
# Name and address used for sending automated e-mails to users.
# You can change this later in the admin dashboard.
MAIL_FROM_NAME="Loyalty Platform"
MAIL_FROM_ADDRESS="noreply@loyaltyplatform.test"

# E-mail address published on website for contact (can be changed later)
MAIL_CONTACT=contact@example.com

# Supported drivers: "sendmail", "smtp" and "mailgun"
# For simple and reliable email we recommend https://sendgrid.com/
# When using sendgrid, use MAIL_DRIVER=smtp
# https://laravel.com/docs/6.x/mail 
MAIL_DRIVER=sendmail
MAIL_DRIVER=mail
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=null
MAIL_PASSWORD=null

# Mailgun settings (optional)
MAILGUN_DOMAIN=
# You can find the Private API key by logging in to your Mailgun dashboard
# and navigate to Settings > API Security.
MAILGUN_SECRET=

# By default api.mailgun.net is used.
# The values can be api.mailgun.net, api.eu.mailgun.net or api.us.mailgun.net
# depending on the region you selected in the Mailgun dashboard.
MAILGUN_ENDPOINT=api.mailgun.net

# Pusher.com settings
# Pusher is used for earning points and redeeming rewards with a QR code.
# If you don't plan to use that feature you can skip the Pusher settings.
# Create a new app in your pusher.com dashboard, you only have to enter a 
# name and select a cluster location. Other options are not required.
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=eu

# ServerPilot settings (optional)
# If you want automated SSL for loyalty program websites you have to set up 
# hosting with digitalocean.com and serverpilot.io.
# Find your ServerPilot Client ID at Account > Settings > API (https://manage.serverpilot.io/account/api)
SP_CLIENT_ID=""

# Find your ServerPilot API Key at Account > Settings > API (https://manage.serverpilot.io/account/api), 
# click "New API Key"
SP_KEY=""

# Find your ServerPilot App ID by going to Servers > Select server > Apps > Select app. 
# In the browser address bar you will see a url like https://manage.serverpilot.io/apps/BNDATf0tMsjCAX03/settings. 
# "BNDATf0tMsjCAX03" is the App ID in this case.
SP_APP_ID=""

# A new key can be generated after saving this file as ".env" with 
# the command `php artisan jwt:secret`.
# *NOTE* if you use ServerPilot, instead of `php`, use `php7.3-sp` (if you use PHP 7.3): 
# `php7.3-sp artisan jwt:secret`.
# https://serverpilot.io/docs/how-to-use-the-php-cli
JWT_SECRET=

# DO NOT EDIT BELOW THIS LINE UNLESS YOU KNOW WHAT YOU ARE DOING :)
# -----------------------------------------------------------------

MIX_APP_URL="${APP_URL}"
MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SESSION_DRIVER=file
SESSION_LIFETIME=120
BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
LOG_CHANNEL=stack